.boxes{
    width:200px;
    height:200px;
    background-color:blue;

}
.flexs{
    background-color:purple;
    height:100px;
    display: flex;
    justify-content:center;
    align-items:center;
    gap:100px;
}
.wow{
    background-color:pink;

}