.text{
    font-family: "Chewy", system-ui;
    letter-spacing:2px;
    color:#D2B48C;
    align:center;
}
.news{
    font-family: "Chewy", system-ui;
    letter-spacing:2px;
}
.deco{
    width:60px;
    height:60px;
    display: block;
    margin: 0 auto;

}
.deco2{
    width:40px;
    height:40px;
}
.deco3{
    width:40px;
    height:40px;
    margin-right: 10px;
    transform: scaleX(-1);
    vertical-align: middle;
}
.timetable{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}
