.img{
    height:80px;
    width:80px;
    padding:10px;
    border-radius:100%;
}
.main{
    display: flex;
    align-items:center;
    justify-content:space-between;
}
.baby{
    display:flex;
    padding-right:50px;
    justify-content:space-around;

}
.baby1{
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#f9f9f9;
    height:20px;
    width:150px;
    background-color:#f9f9f9;

}
.main2{
    display:flex;
    justify-content:center;
    gap:350px;
    padding-top:30px;
}

.main-img{
    height:300px;
    width:300px;
    border-radius:30%;
}
.main3{
    display:flex;
    justify-content:center;
    gap:480px;
}
.text1{
    font-family: "Boldonse", system-ui;
}
.main4{
    display:flex;
    justify-content:center;
    gap:50px;
    padding-left:50px;
    padding-right:50px;
    text-align:center;
}
.text2{
    font-family: "Edu NSW ACT Cursive", cursive;
}